.wrapper_with_padding
  #note_show
    %h1= @note.title
    %p= simple_format(@note.content)

    .buttons
      = link_to 'All Notes', root_path, class: 'button'
      = link_to 'Edit', edit_note_path(@note), class: 'button'
      = link_to 'Delete', note_path(@note), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button'
